.container-map{
	width: 900px;
}
.promotor-selecionado {
	background: #fff;
	color: #505050;
	padding: 5px;
	border: solid 1px #d4d4d4;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.19);
	border-radius: 4px;
	font-size: 14px;
	display: none;
	width: calc(100% - 21px);
	border-left: 3px solid #23a599;
}
.promotor-selecionado em{
	float: right;
}
.lista-todos-promotores {
	padding: 8px;
	background: #ffffff;
	border: solid 1px #eee;
	box-shadow: inset 0px 0px 8px #e6e6e6;
	font-size: 14px;

}
.lista-promotor {
    width: 30%;
    padding: 5px;
    display: inline-block;
    float: left;
    margin-right: 19px;
}
.nome-promo-lista span {
	float: right;
}
.nome-promo-lista {
	background: linear-gradient(#fff, #f9f9f9);
	padding: 3px 10px;
	cursor: pointer;
	margin-bottom: 5px;
	transition:ease 100ms all;
	border-radius: 3px;
	border-left: 3px solid transparent;
}
.nome-promo-lista:hover {
	border-color: #23a599;
	background: #eee;
}
.id-promotor {
	display: inline-block;
	font-size: 11px;
	margin-right: 5px;
	background: #eee;
	padding: 2px 7px;
	border-radius: 50%;
}
.dados-promotor-selecionado {
	display: inline-block;
}
.lista-promotor .container-map {
    max-width: calc(100% - 21px);
    margin: 5px 0;
}

.lista-mercados {
    display: inline-block;
    width: 60%;
    padding: 5px;
}
.linha-mercados {
    width: calc(50% - 14px);
    display: inline-block;
    cursor: pointer;
}
.linha-mercados {
    background: linear-gradient(#fff, #e4e4e4);
    margin: 4px;
    padding: 5px 0px 5px 6px;
    font-size: 14px;
    border-radius: 4px;
}


#raioParaMercado,
#listarmercadosnoraio{
	display: inline-block;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
#raioParaMercado {
    width: 100px;
    width: 61px;
    height: 10px;
}
#listarmercadosnoraio {
    width: 92px;
    padding: 4px 0;
    background: #eee;
    display: inline-block;
    margin: 0px 7px 0px 9px;
}
#raioParaMercado {
    width: 100px;
    width: 61px;
    height: 10px;
    margin: 0px 8px;
}
.raioselection {
    font-size: 13px;
    color: #656565;
    padding: 5px 0px 5px 22px;
    margin: 0 -21px 5px;
    border-right: 5px solid #a2a2a2;
    display: block;

}
.container-mercado {
	display: none;
}
.container-mercado input {
    width: calc(100% - 16px);
    padding: 5px 0 8px 9px;
    margin-bottom: 17px;
    border: solid 1px #b9b9b9;
    border-radius: 2px;
    box-shadow: -1px 1px 1px rgba(189, 189, 189, 0.51);
}
.avisoRaio {
    font-size: 13px;
    color: #23a599;
    text-transform: uppercase;
    text-align: center;
    display: block;
    border: solid 1px #d4d4d4;
    padding: 8px;
    margin-top: 21px;
}

.nome-mercado {
	display: none;
}


.mercados-selecionados, .container-todos-mercados{
	display: 	none;
}

.mercados-selecionados {
    padding: 5px;
    background: #fefefe;
    border: solid 1px #eee;
    font-size: 14px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
}
.container-mercado h3 {
    font-size: 14px;
    font-weight: 100;
}
.container-todos-mercados {
    border: solid 1px #eee;
    padding: 1px 9px 15px;
    margin: 13px 0px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
}

.mercados-selecionados .linha-mercados {
    display: inline-block;
    background: #23a599;
    color: #fff;
    padding: 4px 11px;
    border-radius: 4px;
    border: solid 1px #21988d;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.23);
	margin: 4px 5px;
}
.lista-mercados-selecionados em {
    margin: 0 0 0 11px;
}

#enviar-tarefa {
	display: none;
	width: 200px;
    float: right;
    margin-right: 34px;
    background: #23a599;
    border: 1px solid #248e84;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}